[submodule "scripts/external/flamegraph"]
	path = scripts/external/flamegraph
	url = https://github.com/brendangregg/FlameGraph.git
[submodule "slides/themes/reveal-hugo"]
	path = slides/themes/reveal-hugo
	url = https://github.com/dzello/reveal-hugo.git
